# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
*.manifest
*.spec

# PyInstaller / Executables
# (Uncomment if you don't want to commit the exe dist binary)
# dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
